In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [53]:
df = pd.read_csv("audi.csv")

In [54]:
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

# Clear Unnecessary Data

In [55]:
df = df.drop(columns=["index", "href", "PPY", "MileageRank", "PriceRank", "PPYRank", "Score"])

In [56]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

# PreProcessing

In [58]:
df["Engine"] = pd.to_numeric( df["Engine"].str.replace("L", ""))
df = pd.get_dummies(df, columns=["Type", "Transmission", "Fuel"], dtype="int", drop_first=True)

In [59]:
df.head(3)

,Year,Mileage(miles),Engine,PS,Number_of_Owners,Price(£),Transmission_Manual,Fuel_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,1,0
1,2016.0,42596.0,1.0,93.688363,3,10755.0,1,1
2,2015.0,42700.0,1.4,123.274162,2,10799.0,1,1

# Set Feature

In [60]:
y = df[["Price(£)"]]
x = df.drop("Price(£)", axis=1)

# Create Basic Model

In [61]:
lm = LinearRegression()

In [62]:
model = lm.fit(x,y)

## Basic Model Score

In [63]:
model.score(x,y)

0.9110559159967586

# Create Main Model

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=42)

In [65]:
model2 = lm.fit(x_train, y_train)

# Main Model Score

In [66]:
model2.score(x_test, y_test)

0.8963012527630654